/*CSS Reset*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
}

nav {
	position: sticky;
	top: 0;
	background-color: white;
}

.nav-logo {
	display: inline;
	float: left;
	margin-left: 10%;
	margin-top: 25px;
}

.right-nav {
	text-align: right;
}

.nav {
	display: inline-block;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-right: 20px;
}

.tuitt-button {
	margin-right: 90px;
	color: white;
	background-color: #c2195b;
	border: hidden;
	border-radius: 30px;
	font-weight: bold;
	padding: 15px;
}

#bg-image {
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: ;
	min-height: 30rem;
}

#bg-image .front-bg {
	background-color: rgba(0, 0, 0, 0.5);
	min-height: 30rem;
}

section .title, section .title-2 {
	color: black;
	font-family: 'Zilla Slab', serif;
}

.container {
	text-align: right;

}

.title {
	font-size: 3rem;
	color: white !important;
	margin-left: 65%;
	margin-right: 5%;
	margin-bottom: 1%;
}

.subtitle {
	font-size: 1.5rem;
	font-weight: lighter;
	color: lightgray;
	margin-left: 71%;
	margin-right: 5%;
	padding-top: 15px;
}

.apply-button {
	color: white;
	font-size: 1rem;
	border: hidden;
	background-color: #c2195b;
	border-radius: 30px;
	padding: 15px 35px;
	margin-right: 5%;
	margin-top: 3%;
}

.pre-footer {
	background-color: #f7fbfb;
	text-align: center;
	padding-top: 70px;
	padding-bottom: 20px;
}

.book-button {
	background-color: #336589;
}

.intro {
	margin-top: 70px;
	margin-bottom: 70px;
}

.title-2 {
	margin-bottom: 60px;
	font-size: 2.5rem;
	text-align: center;
}

.intro-description {
	text-align: left;
	margin-left: 25%;
	margin-right: 25%;
}

.prefooter-description{
	margin-left: 25%;
	margin-right: 25%;
}

.book-button {
	padding: 15px 50px;
	margin-top: 30px;
	border-radius: 30px;
	border: hidden;
	color: white;
}

footer {
	text-align: center;
}